*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    margin-top: 10px;
    margin-left: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 275px
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* Below I am making the menu items have an underline once you hover over it*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #89CFF0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
/* NOTE: margin is used to create space between elements.. ex: used it to make my text closer to the logo
... still trying to figure out what exactly padding means
*/

.header-text{
    margin-top: 3%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
#name{
    text-decoration: none;
    color: #89CFF0;
    transition: opacity 0.3s ease;
}
#name:hover{
    opacity: 0.7;
}



/*-------about-----------*/
#about{
    padding: 80px 0;
    color: lightgray;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-column-1{
    flex-basis: 35%;
}

.about-column-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-column-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.about-column-2 p{
    font-size: 20px;
    font-weight: 75;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3c95bd;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10 px 0;
}

.tab-contents ul li span{
    color: #3c95bd;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}