*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Proxima Nova';
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    margin-top: 10px;
    margin-left: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 275px
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* Below I am making the menu items have an underline once you hover over it*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #89CFF0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
/* NOTE: margin is used to create space between elements.. ex: used it to make my text closer to the logo
... still trying to figure out what exactly padding means
*/

.header-text{
    margin-top: 3%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

span{
    color: #89CFF0;
}
/*-------about-----------*/
#about{
    padding: 80px 0;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-column-1{
    flex-basis: 35%;
}

.about-column-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-column-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
}

.about-column-2 p{
    font-size: 20px;
}